<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="body_container">
    <header class="header_section">
        <h1>GuitarBoard</h1>
    </header><br><br><br>
    <hr>
<!-- vue container-->
<div id="main_container">
    <!--"v-bind:" only if i bind values that are defined inside the data object,-->
    <modal-component v-if="imgSelected" v-bind:selected-Img="imgSelected" @close="closeModalComponent"></modal-component>
        <div class="form_container">
        <form method="post" action="/upload" enctype="multipart/form-data" @submit="handleSubmit">
            <input name = "title" type="text" placeholder="title" required>
            <input name = "description" type="text" placeholder="decription" required>
            <input name = "username" type="text" placeholder="user" required>
            <input name = "image" type="file" accept="image/*">
            <!-- The accept attribute tells the browser to disallow files that are not images -->
                <button type="submit">Upload</button>
        </form>
    </div> 
    
    <div class="image_container" v-if="images.length" v-for="image in images" >
        <img v-bind:src=image.url v-bind:key=image.id @click="selectImg(image.id)" alt="image.title" >
        <p>{{image.title}}</p>
    </div>
     
</div>
    <script src="/js/app.js" type="module" crossorigin="use-credentials"></script>
</body>
</html>
