* {
    margin: 0px;
    margin-bottom: 20px;
}
/* -------------------------------
          BODY CONTAINER
-------------------------------*/
.body_container {
    background-color: white;
}
/* -------------------------------
          HEADER SECTION
-------------------------------*/
.header_section {
    background-color: black;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100px;
    margin-top: 0px;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.8);
    opacity: 0.7;
}

.header_section h1 {
    font-family: QuiteMagical-Regular;
    font-weight: lighter;
    font-size: 80px;
    color: white;
    margin: 0px;
    align-self: center;
    justify-self: center;
}
/* -------------------------------
          MAIN CONTAINER
-------------------------------*/
#main_container {
    width: 100vw;
    display: grid;
    justify-content: center;
    grid-template-rows: repeat(auto-fill, 505px); /*add minmax!*/
    grid-template-columns: repeat(auto-fill, 505px); /*add minmax!*/
}

.more_button {
    position: absolute;
    width: 200px;
    height: 35px;
    margin: 15px;
    border-radius: 15px;
    background-color: rgb(86, 83, 83);
    color: white;
    border: none;
    top: 1350px;
    left: 670px;
    margin: 25px;
    z-index: 1;
    margin: 20px;
}
/* -------------------------------
          FORM CONTAINER
-------------------------------*/
.form_container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 25px;
    width: 100%;
    height: 50px;
}

.form_container form {
    position: relative;
    object-fit: cover;
    height: 25px;
    align-self: center;
}

.form_container input {
    width: 200px;
    height: 20px;
    padding: 10px;
    margin: 15px;
    border-radius: 15px;
}

button {
    width: 200px;
    height: 35px;
    margin: 15px;
    border-radius: 15px;
    background-color: rgb(86, 83, 83);
    color: white;
    border: none;
}
/* -------------------------------
          IMAGE/TITLE CONTAINER
-------------------------------*/
.image_container {
    position: relative;
    width: fit-content;
    height: fit-content;
    top: 150px;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    display: flex;
}

.image_container img {
    position: relative;
    width: 500px;
    height: 500px;
    object-fit: cover;
    cursor: pointer;
}

.image_container p {
    position: absolute;
    font-size: 15px;
    font-weight: lighter;
    color: white;
    font-weight: lighter;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    background-color: rgb(86, 83, 83);
    height: 45px;
    width: 500px;
    color: white;
    opacity: 0.6;
}
/* -------------------------------
              IMAGE MODAL
-------------------------------*/
.modal_container {
    border: 0.5px solid black;
    position: fixed;
    width: 1500px;
    height: 800px;
    z-index: 1;
    background-color: white;
    left: 50px;
    top: 50px;
    border-radius: 10px;
    overflow: scroll;
}

.modal_container span {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    float: right;
    margin: 7px;
    cursor: pointer;
}

.image-modal {
    position: absolute;
}

.image-modal img {
    object-fit: cover;
    width: 750px;
    height: 800px;
}

.modal_container .user_details {
    position: relative;
    float: right;
    right: 300px;
    top: 15px;
}

.user_details p {
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.user_details h1 {
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.user_details h4 {
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
}
/* -------------------------------
             COMMENT
-------------------------------*/
.comments_container {
    position: absolute;
    left: 1000px;
}

.comments_container form {
    position: absolute;
    width: fit-content;
    height: fit-content;
    top: 170px;
}

.comments_container input {
    width: 200px;
    height: 35px;
    border-radius: 15px;
    margin: 10px;
}

button {
    background-color: gray;
}

.comments_container .comment_box {
    position: relative;
    background-color: whitesmoke;
    border-radius: 10px;
    top: 380px;
    right: 50px;
    width: 350px;
}

.comment_box li {
    margin: 20px;
    padding: 3px;
}

.comment_box p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
